/*---Main-nuestromenu---*/
@media (max-width:767px) {
    .portada2 {
        background-image: url(../img/nuestro\ menu.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $colorOcho;
        text-shadow: 3px 3px 4px $colorNueve, 0 0 2em $colorNueve, 0 0 1em $colorNueve;

        h1 {
            font-size: 2.5rem;
            
            h5 {
                padding: 5%;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
            }
        }    
    }   
}

@media(min-width:768px) {
    .portada2 {
        background-image: url(../img/nuestro\ menu.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $colorOcho;
        text-shadow: 3px 3px 4px $colorNueve, 0 0 2em $colorNueve, 0 0 1em $colorNueve;
        h1 {
            font-size: 3rem;
            h5 {
                font-size: 1.5rem;
            }
        }
    }  
}


.main2 {
    padding: 0;
}

.menu div h3 {
    display: inline-block;
}

.fotos img {
    width: 50%;

}

