/*---Main-somosgerminar---*/

.portada5 {
    background-image: url(../img/somosgerminar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 15%;
    color: $colorOcho;
    text-shadow: 3px 3px 4px $colorNueve, 0 0 2em $colorNueve, 0 0 1em $colorNueve;
    
    h1 {
        font-size: 3rem;
        h5 {
            font-size: 1.5rem;
        }  
    }   
}

.c-yellow {
    background-color: $colorTres;
}

.carrusel {
    margin-bottom: auto;
    z-index: 1;
}