* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


h2 {
    text-align: center;
    padding: 1%;
}

/*---Main---*/

main {
    background-color: $colorOcho;
    color: $colorNueve;
}

.img-fluid:hover{
    transform: scale(0.8);
    transition-duration: 0.5s;
}

/*---Footer---*/

.bg-footer {
    background-color: $colorCinco;
}

.c-rojo {
    color: $colorSiete;
}

.enlace {
    color: $colorDiez;
}

.copyright {
    font-size: 80%;
}